<div class="tab">
  <button class="tablinks" routerLink="home" routerLinkActive="active">
    Home
  </button>

  <button class="tablinks" routerLink="leak" routerLinkActive="active">
    Leak
  </button>

  <button class="tablinks" routerLink="unsubscribe" routerLinkActive="active">
    Unsubscribe
  </button>

  <button class="tablinks" routerLink="take-until" routerLinkActive="active">
    Take Until
  </button>

  <button class="tablinks" routerLink="auto-unsubscribe" routerLinkActive="active">
    Auto Unsubscribe
  </button>
</div>